        body {
            font-family: "Helvetica Neue", Arial, sans-serif; /* Pøidání "Helvetica Neue" */
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column; /* Obsah bude ve sloupci */
            min-height: 100vh; /* Minimální výška obsahu je 100% výšky okna */
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center; /* Zarovnání na vertikální úrovni s logem */
            position: sticky;
            top: 0;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            font-weight: 700; /* Nastavení váhy písma na 700 pro navigaci */
        }
        nav ul li {
            margin-right: 20px;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
        .main-content {
            text-align: center;
            padding: 20px; /* Pøidání paddingu */
            flex: 1; /* Obsah se bude rozšiøovat na zbylý volný prostor */
        }
        .text {
            margin-bottom: 20px;
            text-align: left; /* Zarovnání textu doleva */
        }
        .images {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            width: 100%; /* Umožní nám použít position: absolute */
            position: sticky; /* Umístìní na spodek obsahu */
            bottom: 0; /* Zarovnání na spodek obsahu */
        }
        /* Zvìtšení logo o 50% */
        header img {
            height: 75px;
        }
        /* Zvìtšení textu a zarovnání s logem */
        header div {
            display: flex;
            align-items: center; /* Zarovnání na vertikální úrovni s logem */
        }
        header a {
            color: #fff; /* Bílé písmo pro odkaz */
            text-decoration: none;
        }
        header span {
            font-size: 1.5em;
            font-weight: 800; /* Nastavení váhy písma na 800 pro hlavní nadpis */
            margin-left: 20px;
        }
        header span:hover {
            text-decoration: underline; /* Podtržení pøi najetí myší */
        }
        /* Pøizpùsobení pouze váhy písma nadpisù v textu */
        .text h1,
        .text h2,
        .text h3,
        .text h4,
        .text h5,
        .text h6 {
            font-weight: 800; /* Nastavení váhy písma na 800 pro všechny nadpisy v textu */
        }
        .link {
             color: inherit; /* Zachovat barvu textu */
             text-decoration: underline; /* Podtržení textu */
        }

        .link:hover, .link:focus {
            color: inherit; /* Zachovat barvu textu i pøi najetí myší nebo pøi zaostøení */
            text-decoration: underline; /* Zachovat podtržení i pøi najetí myší nebo pøi zaostøení */
        }

        .text h1{
            font-size: 3em;
        }
        .text h2{
            font-size: 2.25em;
        }
        .text h3{
            font-size: 1.75em;
        }
        .text h4{
            font-size: 1.5em;
        }
        .text h5{
            font-size: 1.25em;
        }
        .text h6{
            font-size: 1.125em;
        }
        .text p{
            font-size: 1.125em;
        }
        .text ul li{
            font-size: 1.125em;
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Møížka s automatickým plnìním, minimální šíøka 200px */
            grid-gap: 10px; /* Mezera mezi obrázky */
            justify-items: center; /* Zarovnání obrázkù na støed */
        }

        .gallery img {
            max-width: 100%; /* Omezíme maximální šíøku obrázku na 100% šíøky kontejneru */
            height: auto; /* Automatická výška, aby se zachoval pùvodní pomìr stran */
        }
